.back {
  background-color: rgb(39, 39, 38);
}


.largoCard{
  max-width: 400px;
}

.liStyle{
  list-style: none;
}

a{
  color: black;
}
  
.a:hover{
  font-size: 1.15em;
}

.mrg-left {
  padding-left: 200px;
}

.tableRecords{
  font-size: 0.9em;
}

.main-container {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.main-logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  z-index: 1; /* Coloca el logo encima de la foto con un índice superior */
}

.video-container {
  position: relative;
  width: 100%;
  top: -120px;
  filter: blur(5px) grayscale(40%);
  object-fit: contain;
  padding: 0 !important;
  margin: 0 !important;

}


.wid{
  width: 100px;
}



  .tableRecords tr:nth-child(4) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(5) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(6) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(10) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(11) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(12) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(16) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(17) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(18) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(22) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(23) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(24) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(28) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(29) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(30) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(34) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(35) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(36) {background-color: rgb(196, 196, 196);}
  


.btnLeft {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0; 
  opacity: .7; 
  transition: opacity .15s ease;
}

.btnLeft:hover{
  opacity: 1;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  width: 300px;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  font-size: 1em;
  color: #666;
}

.contImagen{
  object-fit: contain;
  max-height: 500px;

}

.contImagen img{
  object-fit: contain;
  max-height: 500px;

}

.colorBlog{
  background-color: #f3f3f3;
}

.colorBlog h2{
  background-color: #f3f3f3;
}

.colorBlog div h2{
  background-color: #f3f3f3;
}

.colorBlog p{
  background-color: #f3f3f3;
}

.altoCards{
  height: 200px;
}

.imgMedia{
  object-fit: cover;
}


.titleCard div{
  text-align: center;
}

.titleCard span{
  font-size: 1.3em;
}















@media screen and (min-width: 1000px) and (max-width: 1400px) 
{
  .video-container {
    top: -24px;
  }
}


@media screen and (max-width: 500px) {
  .tableRecords{
    font-size: 0.75em;
  }

  
.main-container {
  height: 600px;
}


}


