.largoCard{
  max-width: 400px;
}

.liStyle{
  list-style: none;
}

a{
  color: black;
}
  
.a:hover{
  font-size: 1.15em;
}

.mrg-left {
  padding-left: 200px;
}

.tableRecords{
  font-size: 0.9em;
}

@media screen and (max-width: 500px) {
  .tableRecords{
    font-size: 0.75em;
  }
}

.wid{
  width: 100px;
}


  .tableRecords tr:nth-child(4) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(5) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(6) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(10) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(11) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(12) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(16) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(17) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(18) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(22) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(23) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(24) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(28) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(29) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(30) {background-color: rgb(196, 196, 196);}

  .tableRecords tr:nth-child(34) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(35) {background-color: rgb(196, 196, 196);}
  .tableRecords tr:nth-child(36) {background-color: rgb(196, 196, 196);}
  


.btnLeft {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0; 
  opacity: .7; 
  transition: opacity .15s ease;
}

.btnLeft:hover{
  opacity: 1;
}